:root {
  --text-1: "poppins", sans-serif;
  --text-2: "EB Garamond", serif;
  --text-color: white;
}

#box {
  display: none;
}
#show {
  border: none;
  background: white;
  outline: none;
  font-size: 25px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: none;
}
main {
  width: 100%;
  height: 100vh;
  background-image: url(image/girl-2189247_1280.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  padding: 0 10%;
  color: white;
}
header {
  padding: 5px 10%;
  background: transparent;
  position: sticky;
  transition: all 0.5s ease-in-out;
}
.scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 2px solid black;
  background: rgb(254, 243, 244);
}
#title {
  font-size: 30px;
  font-weight: 500;
}
#prev {
  z-index: 9999;
}
#subtitle {
  font-size: 18px;
  position: relative;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: all 0.5 ease-in-out;
}
#subtitle::after {
  content: "";
  width: 0;
  height: 4px;
  background: rgb(250, 130, 154);
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: width 0.8s;
}
#navbarText ul {
  display: flex;
  align-items: center;
}
#subtitle:hover::after {
  width: 100%;
}
.text h5 {
  font-family: var(--text-1);
  font-size: 25px;
}
.text h5 span {
  color: pink;
  text-shadow: 2px 2px 10px black;
}
.text h1 {
  font-size: 7em;
  color: white;
  font-family: var(--text-2);
}
.total {
  position: absolute;
  top: 18px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  font-size: 13px;
}
.text button {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 5px 40px;
  margin-top: 40px;
  transition: all 0.6s;
  background: pink;
  border: 4px solid pink;
}
.text button:hover {
  border: 4px solid pink;
  background-color: transparent;
  color: rgb(251, 126, 147);
}

/* -------------------------------ABOUT------------------------------ */

section {
  width: 100%;
  padding: 50px 10%;
  background: white;
  position: relative;
}
.wraper-about {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.text-box {
  flex-basis: 50%;
  text-align: left;
}
.text-box h1 {
  font-size: 5em;
  font-family: var(--text-2);
  color: rgb(33, 32, 32);
}
.text-box p {
  font-family: var(--text-1);
  font-size: 20px;
  color: #6b6b6b;
  font-weight: 600;
}
.img-box {
  flex-basis: 40%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.img-box img {
  width: 100%;
  height: 100%;
  transition: all 0.6s;
}
.box {
  width: 28%;
  height: 100%;
  background: rgb(34, 34, 34);
  text-align: center;
  display: inline-block;
  margin: 20px 10px 0;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.6s;
  cursor: pointer;
  box-shadow: 2px 2px 20px 2px pink;
}
.box:hover {
  transform: translateY(-15px);
}
.box i {
  font-size: 5em;
  color: pink;
}

/* ---------------------------PRODUCT----------------------------------- */

#product {
  width: 100%;
  margin-top: 100px;
}
#product h1 {
  font-size: 5em;
  margin-left: 10%;
  font-family: var(--text-2);
}
.wraper-product {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
  background: rgb(254, 247, 248);
}
.card {
  margin: 30px 20px;
  background: transparent;
  padding-bottom: 0;
}
.img {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.new {
  width: 80px;
  height: 70px;
  position: absolute;
  z-index: 99;
  top: 0;
  right: -13px;
}
.best {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
}
.best img {
  width: 100%;
}
.new img {
  width: 100%;
  height: 100%;
}
.img img {
  transition: all 0.6s;
}
.img:hover img {
  transform: scale(1.2);
}
.img-box:hover img {
  transform: scale(1.1);
}
.img:hover .new img {
  transform: none;
}
.img:hover .best img {
  transform: none;
}
.container-box {
  width: 100%;
}
.wraper-product p {
  margin: 0;
  font-weight: 500;
  color: #6b6b6b;
}
.pay {
  text-align: right;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: right;
  height: auto;
}
.pay blockquote {
  margin-top: 20px;
  margin-right: 10px;
  font-size: 20px;
  color: green;
  font-weight: bold;
}
blockquote.discount {
  color: rgb(246, 83, 115);
  text-decoration: line-through;
}
.pay button {
  border: none;
  outline: none;
  background: rgb(251, 227, 231);
  padding: 5px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: 500;
}
.pay button:hover {
  background: rgb(252, 171, 185);
}

/* -------------------------------TESTIMONI----------------------------- */

#testimoni {
  width: 100%;
  margin-top: 100px;
}
#testimoni h1 {
  margin-left: 10%;
  font-size: 5em;
  font-family: var(--text-2);
}
.wraper-testi {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 5%;
}
.box-testi {
  width: 300px;
  height: auto;
  background: rgb(31, 30, 30);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  color: white;
  margin: 50px;
  box-shadow: 2px 10px 20px 2px pink;
}
.img-1 {
  background-image: url(image/t-1.jpg);
  width: 105px;
  height: 105px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -50px;
  transition: all 0.4s;
}
.img-2 {
  background-image: url(image/t-2.jpg);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -50px;
  transition: all 0.4s;
}
.img-3 {
  background-image: url(image/t-3.jpg);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: top;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -50px;
  transition: all 0.4s;
}
.img-1:hover,
.img-2:hover,
.img-3:hover {
  box-shadow: 2px 2px 10px 2px pink;
  cursor: pointer;
}
.box-testi h5 {
  margin-top: 35px;
  font-size: 20px;
  font-weight: 500;
}
.box-testi span {
  color: gold;
}
.box-testi span .big {
  font-size: 30px;
}
.box-testi span .medium {
  font-size: 20px;
}
.box-testi p {
  margin-top: 10px;
  color: #e1e0e0;
}

/* ----------------------------------CONTACT--------------------------- */

#contact {
  width: 100%;
  padding: 10%;
}
.wraper-contact {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 100%;
}
.box-1 {
  flex-basis: 40%;
}
.box-1 h1 {
  font-size: 5em;
  font-family: var(--text-2);
  margin-bottom: 20px;
}
.box-1 p {
  color: #656363;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}
.box-1 h6 {
  display: flex;
  align-items: center;
}
.box-1 h6:first-child {
  margin-top: 15px;
}
.box-1 h6 i {
  background: transparent;
  font-size: 25px;
  margin-right: 5px;
  color: rgb(251, 79, 107);
}
.box-1 li {
  display: inline-block;
  font-size: 30px;
  list-style: none;
  margin: 20px 5px;
  transition: all 0.3s;
  cursor: pointer;
  color: rgb(94, 94, 94);
}
.box-1 li:hover {
  color: rgb(252, 88, 116);
  transform: scale(1.6);
}
.box-2 {
  flex-basis: 45%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-bottom: 20px;
}
.box-2 input {
  padding: 10px 20px;
  margin-top: 20px;
  outline: none;
  box-shadow: 2px 2px 10px 2px gray;
  font-size: 18px;
  color: black;
  border-radius: 5px;
}
textarea {
  padding: 10px 20px;
  outline: none;
  box-shadow: 2px 2px 10px 2px gray;
  font-size: 18px;
  color: black;
  border-radius: 5px;
}
#result {
  margin-top: 10px;
  font-size: 16px;
  display: none;
}
.wrong {
  color: rgb(185, 4, 4);
  border: 2px solid red;
  display: block;
  animation: shakeX 1s;
}
@keyframes shakeX {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translate(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(0);
  }
}
#result.wrong-text {
  color: red;
  display: block;
  font-weight: 600;
}
#result.success {
  color: green;
  font-weight: 600;
  display: block;
}
.box-2 button {
  display: flex;
  align-items: center;
  width: 150px;
  text-align: center;
  justify-content: center;
  padding: 5px;
  margin-top: 30px;
  border: 4px solid black;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border-radius: 40px;
  transition: all 0.4s;
}
.box-2 button:hover {
  background: black;
  color: white;
}
footer {
  width: 100%;
  background: rgb(46, 46, 46);
  color: white;
  padding: 20px;
  text-align: center;
}

/* ------------------------------SCREEN-------------------------------- */

@media only screen and (max-width: 1300px) {
  .wraper-about {
    flex-direction: column-reverse;
  }
  .img-box {
    width: 400px;
    margin: 0 auto;
  }
  .container-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .box {
    width: 250px;
    margin: 20px;
  }
}

@media only screen and (max-width: 1178px) {
  .text h1 {
    font-size: 5em;
  }
}
@media only screen and (max-width: 700px) {
  .wraper-contact {
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .text h1 {
    font-size: 3em;
  }
  .box-2 {
    padding-right: 10px;
  }
  .img-box {
    width: 90%;
  }
  .text-box h1 {
    font-size: 4em;
    margin-top: 20px;
  }
  .text-box p {
    font-size: 15px;
  }
  .text {
    text-align: center;
  }
  .text button {
    margin: auto;
    margin-top: 30px;
  }
  #testimoni h1,
  #product h1 {
    margin-left: 20px;
    font-size: 4em;
  }
}
@media only screen and (max-width: 425px) {
  #testimoni {
    padding: 10px;
  }
  .wraper-testi {
    padding: 10px 0;
  }
  .box-testi {
    margin: 50px 0;
  }
}
@media only screen and (max-width: 992px) {
  #show {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main {
    position: relative;
  }
  #navbarText ul {
    display: none;
  }
  #navbarText ul .cart {
    position: relative;
  }
  #box {
    position: fixed;
    z-index: 99999999;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: white;
    display: none;
  }
  #box ul li:first-child {
    margin-top: 70px;
  }
  #box ul li {
    margin: 5px 20px;
  }
  #box.element-show {
    animation: showw 0.5s;
    display: block;
  }
  @keyframes showw {
    0% {
      right: -300px;
    }
    100% {
      right: 0;
    }
  }
  #hide {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 40px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
  }
  .blurr {
    filter: blur(3px);
  }
}
@media only screen and (max-width: 725px) {
  .box {
    width: 300px;
  }
  .box i {
    font-size: 6em;
  }
  .box h3 {
    font-size: 3em;
  }
}

/* ------------------------------ANIMATION------------------------------ */

header {
  animation: fadeDown 0.8s;
}
@keyframes fadeDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
.text {
  visibility: hidden;
}
.text.flassh {
  animation: flaash 1.1s;
  visibility: visible;
}
@keyframes flaash {
  0% {
    transform: translateX(-100px) scale(0.7);
    filter: blur(15px);
  }
  100% {
    transform: translateX(0) scale(1);
    filter: blur(0);
  }
}
.reveal {
  transform: translateY(150px);
  opacity: 0;
  visibility: hidden;
  transition: all 1.5s ease;
}
.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
